.result-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  margin: 5% 33% 95% 20%;
  width: 60%;
  height: 75%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  overflow: scroll;
}

.heading {
  margin: 5% 0;
  text-align: center;
}

.ans-summary {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.total-pts,
.correct-pts,
.incorrect-pts {
  padding: 10px;
  text-align: center;
}

.correct-incorrect {
  text-align: center;
  margin-bottom: 20px;
}

.detailed-summary {
  padding: 0 5%;
}

.required-question {
  margin-bottom: 20px;
}

.context {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ans-compare {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(73, 73, 73, 0.5);
  border-radius: 5px;
}

.retake-quiz-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

/* Lock Button */
.btn-to-retake-quiz {
  padding: 2.5%;
  margin-top: 2%;
  font-weight: bold;
  color: beige;
  background-color: rgb(73, 73, 73);
  border: 2px solid wheat;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.btn-to-retake-quiz:hover {
  color: white;
  box-shadow: 0 0 10px 5px rgba(218, 218, 218, 0.8);
}
